.custom-btn{
    display: inline-block;
    padding:5px 10px;
    border: 1px solid #000;
    box-shadow: 0 0 5px #000;
    border-radius: 10px;
}
ul,li{

   /* list-style: none;
    padding:0;margin:0;*/
}
.custom-search{
    width:200px;
}
.custom-search input{
    width:100%;
    border:1px solid #888;
    border-radius: 5px;
}
.custom-search input:focus{
    outline: none;
}
.custom-search ul{
    width:100%;
    margin-top: 5px;
}
.custom-search ul li{
    border-bottom: 1px solid #ccc;
    margin-bottom: 3px;
}